* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Merriweather Sans', sans-serif;
}

.first-section {
	text-align: center;
}

h3 strong {
	color: red;
	margin-right: 15px
}

h3 {
	;
}

a {
	color: black;
}

.navbar-collapse {
	padding-left: 80px;
}

.first-col .second-col .third-col .fourth-col {
	width: 100%;
}